.stock-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stock-item {
  cursor: pointer;
}

.stock-name {
  font-size: 15px;
  font-weight: 500;
}

/* ===================
   미니 차트
=====================*/
.stock-chart-wrapper {
  width: 100%;
  height: 12rem;
  min-width: 150px;
  min-height: 50px;
}
